<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <a href="https://pawylove.com/" target="_blank">
        <img class="navbar-brand" src="assets/images/PawyLogo120.png" alt="HomePage">
      </a>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/pawy-adopt">Paws in adoption</a>
      <a mat-list-item href="#">Pawrents</a>
      <a mat-list-item href="#">Blog</a>
      <a mat-list-item href="#">Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Admin Pawy</span>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
