<div class="form-group-Pawy">

    <div class="row center-xs">
        <div class="col-xs-6">
            <div class="box">
                <h2 *ngIf="!create">Interested</h2>
            </div>
        </div>
    </div>


    <div class="row center-xs">
        <div class="col-xs-6">
            <div class="box">
                <img id="preview" *ngIf="photoField" [src]="photoField" />
            </div>
        </div>
    </div>

    <div class="row center-xs">
        <div class="col-xs-6">
            <div>
                {{pawName}}
            </div>
        </div>
    </div>

    <div *ngFor="let user of users">
        <div *ngFor="let pawrent of pawrents">

            <div *ngIf="user == pawrent.id ">

                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{pawrent.name}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{pawrent.phone}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-checkbox class="example-margin" value="pawrent.id" >Check me!</mat-checkbox>
                        <button mat-raised-button color="primary" (click)="adopt(pawrent.id)">Adopt</button>
                        <p>{{pawrent.city}}</p>
                        <p>{{pawrent.email}}</p>
                        <p>{{pawrent.gender}}</p>
                        <p>{{pawrent.adoptForm}}</p>
                         <div *ngFor="let answers of pawrent.adoptForm | keyvalue">
                            <p>{{answers.key}}: {{answers.value}}</p>
                         </div>                       

                    </mat-expansion-panel>
             
                </mat-accordion>


            </div>
        </div>
    </div>

    <!-- <ul *ngFor="let pawrent of pawrents">
        <li>
          {{ pawrent.email }} {{ pawrent.city }} {{ pawrent.name }}
          <ul *ngFor="let answers of pawrent.adoptForm | keyvalue">
            <li> {{answers.key}}: {{answers.value}}</li>
          </ul>
        </li>
      </ul> -->







</div>