#preview{
    height: 150px;
  }

  .messages {
    opacity: 0;
    transition: all .5s ease-in;
    &.active {
      opacity: 1;
    }
  }


  mat-form-field{
    width: 100%;
  }

  .input-field{
    padding-bottom: 1%;
    padding-top: 1%;
  }

  .mat-radio-button {
    margin: 0 12px;
    padding: 10px;
  }
