<form [formGroup]="form" (ngSubmit)="save($event)">


    <div class="form-group-Pawy">
        <mat-card>

            <div class="row center-xs">
                <div class="col-xs-6">
                    <div class="box">
                        <h2 *ngIf="create">New Pawy Pup</h2>
                        <h2 *ngIf="!create">Edit Pawy Pup</h2>
                    </div>
                </div>
            </div>


            <div class="box">
                <input placeholder="image" (change)="uploadFile($event)" id="image" type="file">

                <mat-error *ngIf="photoField.hasError('required')">
                    This field is required
                </mat-error>
            </div>

            <div class="row center-xs">
                <div class="col-xs-6">
                    <div class="box">
                        <img id="preview" *ngIf="photoField.value" [src]="photoField.value" />
                    </div>
                </div>
            </div>

            <mat-card-content>

                <div class class="row">

                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-label>Name</mat-label>
                            <input placeholder="ex. Musky" formControlName="name" matInput type="text"
                                autocomplete="off">

                            <mat-error *ngIf="nameField.hasError('required')">
                                This field is required
                            </mat-error>
                            <mat-error *ngIf="nameField.hasError('pattern')">
                                characters not allowed
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-label>Breed</mat-label>
                            <input placeholder="ex. Indie" formControlName="breed" matInput type="text"
                                autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input-field">
                    <mat-label>Gender: </mat-label>
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button name="gender" value="male">Male</mat-radio-button>
                        <mat-radio-button name="gender" value="female">Female</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="genderField.hasError('required')">
                        This field is required
                    </mat-error>
                </div>

                <div class class="row">

                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-label>Location</mat-label>
                            <input placeholder="ex. Hyderabad" formControlName="location" matInput type="text"
                                autocomplete="off">
                        </mat-form-field>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Birth date</mat-label>
                            <input matInput placeholder="MM/DD/YYYY" formControlName="birth" [matDatepicker]="picker"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-label>Temperament</mat-label>
                            <input placeholder="ex. Playful" formControlName="temperament" matInput type="text"
                                autocomplete="off">
                        </mat-form-field>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-label>Condition</mat-label>
                            <input placeholder="ex. Healthy" formControlName="condition" matInput type="text"
                                autocomplete="off">
                        </mat-form-field>

                    </div>
                </div>

                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Story</mat-label>
                    <textarea placeholder="Story" formControlName="story" matInput type="text"></textarea>
                </mat-form-field>

                <div class="input-field ">
                    <mat-label>Status: </mat-label>
                    <mat-radio-group formControlName="status">
                        <mat-radio-button name="status" value="For adoption">For adoption</mat-radio-button>
                        <mat-radio-button name="status" value="In progress">In progress</mat-radio-button>
                        <mat-radio-button name="status" value="Adopted">Adopted</mat-radio-button>
                        <mat-radio-button name="status" value="Invited">Invited</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="statusField.hasError('required')">
                        This field is required
                    </mat-error>
                </div>


            </mat-card-content>

            <mat-card-actions >
                <div class="row center-xs">
                    <div class="col-xs-3">
                        <div class="box">
                            <button color="primary" mat-raised-button type="submit">Save Paw</button>
                        </div>
                    </div>
                    <div *ngIf="!create" class="col-xs-3">
                        <div class="box">
                            <button color="primary" mat-raised-button (click)="deletePaw($event)">Delete Paw</button>
                        </div>
                    </div>
                </div>
            </mat-card-actions>
            

        </mat-card>
    </div>

</form>