@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-pink, 600);
$my-accent: mat-palette($mat-blue, 500);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);