.paws-container{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  
  .card, .loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
  }
  
  .card{
    margin: 1rem;
    position: relative;
    transition: all 1s ease;
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  }

  .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
  }

  .pawy-card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 150px;
    margin: 1rem;
    position: relative;
    transition: all 1s ease;
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
    border-radius: 30px;
  }
  .pawy-card:hover{
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
  }
  
  .crop-image {
    display: block;
    height: 150px;
    width: 100%;
    margin-bottom: 4%;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      object-position: center;
    }
  }

  .mat-card-image {
    width: calc(70% + 32px);
    margin: 4% 0 4% 0;
    border-radius: 50%;
}

.mat-card-image:first-child {
  width: calc(70% + 32px);
    margin: 4% 0 0 0;
    border-radius: 50%;
}

.mat-card-title {
  display: flex;
  margin: auto;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}

.card-name {
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.overlay{
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(15, 8, 203, 0.62);
  opacity: 0;
  color: white;
  font-weight: bold;
}

.overlay:hover{
  opacity: 1;
  background: rgba(228, 40, 118, 0.7);
  border-radius: 15%;
}