<div class="gifts-container">


  <div style="color:rgb(57, 174, 228)" class="card" routerLink="/admin/pawy-adopt-form">
    <i class="fa fa-paw fa-5x"></i>
    <span>New Pawy</span>
  </div>



  <div *ngIf="pawypups?.length > 0;else noItems" class="cards">
    <div *ngFor="let pawy of pawypups">
      <div *ngIf="pawy.status == adoption">

        <mat-card class="pawy-card">
          <mat-card-title>{{pawy.name}}</mat-card-title>
          <mat-card-content>
            <div class="crop-image">
              <img mat-card-image [src]="pawy.photo" alt="Pawy">
            </div>
            <div class="card-name">
              <b>Gender: </b> {{pawy.gender}}
            </div>
            <div class="card-name">
              <b>Location: </b> {{pawy.location}}
            </div>
            <div class="card-name">
              <b>Condition: </b> {{pawy.condition}}
            </div>
            <div class="card-name">
              <b>Temperament: </b>{{pawy.status}}
            </div>
            <!-- <div class="overlay"><i class="fa fa-magic fa-5x"></i><span>Edit</span></div> -->
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="edit(pawy)">Edit</button>
            <button mat-button (click)="interested(pawy)">Interested</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <ng-template #noItems>
    <hr>
    <h5>There are no items to list</h5>
  </ng-template>


</div>